* {
  box-sizing: border-box;
}
html {
  font-size: 15px;
}
body {
  background-color: #fffff8;
  color: #111;
  width: 100%;
}
main {
  margin: 36px auto 108px;
  max-width: 760px;
  padding: 0 30px;
  width: 100%;
}
h1,
h2,
h3,
.date {
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans",
    "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed",
    "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  margin: 0;
  letter-spacing: 0.75px;
  line-height: 1;
}
h1 {
  font-size: 2.75rem;
  margin-top: 6.5rem;
}
.heading {
  margin-bottom: 4rem;
}
.date {
  font-size: 1.75rem;
  margin-top: 1rem;
}
h2 {
  font-size: 2.25rem;
  margin-top: 5rem;
}
h3 {
  font-size: 1.75rem;
  margin-top: 3.5rem;
}
li,
p {
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L",
    "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter",
    "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow",
    "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L",
    Georgia, serif;
  font-size: 1.25rem;
  letter-spacing: 0.85px;
  line-height: 1.6;
  word-spacing: 1.25px;
}
p {
  margin: 2rem 0;
}
.videoContainer {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 60.25%;
}
.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
a {
  color: #8b0000;
}
a:active,
a:focus,
a:hover {
  color: #9400d3;
}
code,
pre {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  background-color: #33333311;
  width: 100%;
}
pre {
  overflow: scroll;
  margin: 2rem 0;
  padding: 16px 6px 12px 16px;
}
pre code {
  background-color: transparent;
  line-height: 1.5;
  padding: 0;
}
code {
  font-size: 1.1rem;
  padding: 4px 4px 0;
}
